<#include "/common/_header.html"/>
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <form id="searchForm">
                                <div class="col-sm-2">
                                    <div class="input-group m-b"><span class="input-group-addon">用户名</span>
                                        <input type="text" name="userName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" id="resetBtn" class="btn btn-w-m btn-default">重置</button>
                                    <@shiro.hasPermission name = "xxx" >
                                        <button type="button" id="searchBtn" class="btn btn-w-m btn-primary">搜索</button>
                                    </@shiro.hasPermission>
                                </div>
                            </form>
                        </div>
                        <div id="toolbar" class="btn-group">
                            <button class="btn btn-primary" id="addBtn" type="button"><i class="fa fa-plus">新增</i>
                            </button>
                            <button class="btn btn-primary" id="editBtn" type="button"><i class="fa fa-pencil">修改</i>
                            </button>
                            <button class="btn btn-primary" id="deleteBtn" type="button"><i class="fa fa-trash">删除</i>
                            </button>
                        </div>
                        <table id="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#include "/common/_footer.html"/>
<script>
    //初始化表格
    $iTable.bootstrapTable({
        url: '${ctx.contextPath}/sysUser/listSysUserPage',
        method: 'get',
        columns: [{
            checkbox: true
        }, {
            field: 'userName',
            title: '用户名'
        }, {
            field: 'nickName',
            title: '昵称'
        }, {
            field: 'userTypeZh',
            title: '用户类型'
        }, {
            field: 'mobile',
            title: '手机号'
        }, {
            field: 'sexZh',
            title: '性别'
        }, {
            field: 'email',
            title: '邮箱'
        }, {
            field: 'statusZh',
            title: '状态'
        }],
        onDblClickRow: function (row, $element) {
            getViewById(row.id);
        }
    });

    //查看详细
    function getViewById(id) {
        layer.open({
            type: 2
            , title: "详细"
            , area: ['770px', '630px']
            , shadeClose: true
            , content: ['${ctx.contextPath}/sysUser/sysUserForm?id=' + id, 'no']
        });
    }

    //新增/修改
    function addOrUpdate(id) {
        layer.open({
            type: 2
            , title: 0 == id ? "新增" : "修改"
            , area: ['770px', '630px']
            , btn: ['确定', '取消']
            , shadeClose: true
            , content: ['${ctx.contextPath}/sysUser/sysUserForm?id=' + id, 'no']
            , yes: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                $.ajax({
                    type: "POST",
                    url: "${ctx.contextPath}/sysUser/save",
                    data: body.find('form').serialize(),
                    success: function (data) {
                        layer.close(index);
                        layer.msg(data.message);
                    }
                });
            }
        });
    }

    //根据ids删除
    function deleteByIds(ids) {
        $.ajax({
            type: "POST",
            url: "${ctx.contextPath}/sysUser/delete",
            data: {id: ids},
            success: function (data) {
                layer.close(index);
                layer.msg(data.message);
            }
        });
    }
</script>
