<!-- 全局js -->
<script src="${ctx.contextPath}/js/jquery.min.js?v=2.1.4"></script>
<script src="${ctx.contextPath}/js/bootstrap.min.js?v=3.3.6"></script>
<script src="${ctx.contextPath}/js/plugins/layer/layui.js"></script>
<!-- 自定义js -->
<script src="${ctx.contextPath}/js/content.js?v=1.0.0"></script>
<!-- Bootstrap table -->
<script src="${ctx.contextPath}/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="${ctx.contextPath}/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="${ctx.contextPath}/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="${ctx.contextPath}/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="${ctx.contextPath}/js/plugins/chosen/chosen.jquery.js"></script>
<script src="${ctx.contextPath}/js/plugins/iCheck/icheck.min.js"></script>
<script src="${ctx.contextPath}/js/plugins/webuploader/webuploader.min.js"></script>
<script>
    //layer全局设置
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer, form = layui.form;
    });

    //设置bootstrap table默认配置
    var $iTable = $('#table');
    $.extend($.fn.bootstrapTable.defaults, {
        method: 'get',                      //请求方式（*）
        toolbar: '#toolbar',                //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        queryParams: queryParams,
        pagination: true,                   //是否显示分页（*）
        sortable: true,                    //是否启用排序
        sortOrder: "desc",                   //排序方式
        sortName: "createTime",
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber: 1,                       //初始化加载第一页，默认第一页
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [10, 20, 50, 100],        //可供选择的每页的行数（*）
        search: false,                      //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        strictSearch: true,
        showColumns: true,                  //是否显示所有的列
        showRefresh: true,                  //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: true,                //是否启用点击选中行
        uniqueId: "Id",                     //每一行的唯一标识，一般为主键列
        cardView: false,                    //是否显示详细视图
        detailView: false,                  //是否显示父子表
        onLoadSuccess: function () {
        },
        onLoadError: function () {
        }
    });

    //通用查询参数
    function queryParams(params) {
        var param = {};
        $('#searchForm').find('[name]').each(function () {
            param[$(this).attr('name')] = $(this).val();
        });
        param['pageSize'] = params.limit;
        param['pageIndex'] = (params.offset / params.limit) + 1;
        param["sortField"] = params.sort;      //排序列名
        param["sortOrder"] = params.order; //排位命令（desc，asc）
        return param;
    }

    //查询通用方法
    $("#searchBtn").click(function () {
        $iTable.bootstrapTable('refresh');
    });
    //重置通用方法
    $("#resetBtn").click(function () {
        $('#searchForm').find('[name]').each(function () {
            $(this).val('');
        });
    });
    //删除通用方法
    $("#deleteBtn").click(function () {
        var selectedRaido = $iTable.bootstrapTable('getSelections');
        if (selectedRaido.length === 0) {
            layer.msg("请先选择要删除的行！");
            return;
        }
        layer.confirm('确定要删除该信息吗？', {
            btn: ['确定', '取消']
        }, function () {
            deleteByIds(selectedRaido[0].id);
        }, function (index) {
            layer.close(index);
        });
    });
    //增加通用方法
    $("#addBtn").click(function () {
        addOrUpdate(0);
    });
    //修改通用方法
    $("#editBtn").click(function () {
        var selectedRaido = $iTable.bootstrapTable('getSelections');
        if (selectedRaido.length === 0) {
            layer.msg("请先选择要编辑的行！");
        } else if (selectedRaido.length > 1) {
            layer.msg("只能选择一条数据！");
        } else {
            addOrUpdate(selectedRaido[0].id);
        }
    });
</script>
</body>
</html>