<!-- 全局js -->
<script src="${ctx.contextPath}/js/jquery.min.js?v=2.1.4"></script>
<script src="${ctx.contextPath}/js/bootstrap.min.js?v=3.3.6"></script>
<script src="${ctx.contextPath}/js/plugins/layer/layui.js"></script>
<!-- 自定义js -->
<script src="${ctx.contextPath}/js/content.js?v=1.0.0"></script>
<!-- Bootstrap table -->
<script src="${ctx.contextPath}/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="${ctx.contextPath}/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="${ctx.contextPath}/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="${ctx.contextPath}/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="${ctx.contextPath}/js/plugins/chosen/chosen.jquery.js"></script>
<script src="${ctx.contextPath}/js/plugins/iCheck/icheck.min.js"></script>
<script src="${ctx.contextPath}/js/plugins/webuploader/webuploader.min.js"></script>
<script>
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;
    });
</script>
</body>
</html>