<#include "/common/_header.html"/>
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">A+</h1>
            </div>
            <h3>欢迎使用 AIR BOARD</h3>

            <form class="m-t" role="form" id="loginForm">
                <div class="form-group">
                    <input name="userName" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="passWord" class="form-control" placeholder="密码" required="">
                </div>
                <button type="button" class="btn btn-primary block full-width m-b">登 录</button>

                <p class="text-muted text-center"><a href="login.html#">
                    <small>忘记密码了？</small>
                </a> | <a href="register.html">注册一个新账号</a>
                </p>
            </form>
        </div>
    </div>
<#include "/common/_footer.html"/>
<script>
    $(function () {
        $("button[type=button]").click(function () {
            $.ajax({
                type: "POST",
                url: "${ctxPath}/login",
                data: JSON.stringify($("#loginForm").serializeObject()),
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function (result) {
                    if (result.success) {
                        location.href = '${ctx.contextPath}/index';
                    } else {
                        alert(result.message);
                    }
                }
            });
        });
    })
</script>

