package ${package.Service};

import ${package.Entity}.${entity};
import com.airboard.core.base.BaseMapperService;

/**
 * $!{table.comment} 服务类
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}, Long> {

}
